.busqueda-form {
    position: relative;
}

.busqueda-input {
    background-color: #929191;
    height: 35px;
    min-width: 190px;
    border-radius: 30px;
    padding-left: 40px;
    border: none;
}

@media (max-width: 768px) {
    .busqueda-form {
        width: 100%;
    }
}

.busqueda-btn {
    background-color: transparent;
    border: none;
    color: black;
    position: absolute;
    top: 60%;
    left: 15px;
    transform: translateY(-65%);
}

.busqueda-input::placeholder {
    color: #474747;
}

.busqueda-input:focus {
    background-color: white;
    color: black;
}