.busqueda-form {
    position: relative;
}

.busqueda-input {
    background-color: #383838;
    height: 35px;
    min-width: 180px;
    border-radius: 30px;
    padding-left: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .busqueda-form {
        width: 100%;
    }
}

.busqueda-btn {
    background-color: transparent;
    border: none;
    color: rgb(201, 198, 198);
    position: absolute;
    top: 60%;
    left: 15px;
    transform: translateY(-65%);
}

.busqueda-input::placeholder {
    color: rgb(201, 198, 198);
}

.busqueda-input:focus {
    background-color: white;
    color: black;
}

.busqueda-input:focus::placeholder {
    color: gray;
}

.busqueda-btn.activo {
    color: black;
}