.busqueda-form {
    position: relative;
}

.busqueda-input {
    background-color: darkgrey;
    height: 35px;
    border-radius: 30px;
    padding-left: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.busqueda-btn {
    background-color: transparent;
    border: none;
    color: black;
    position: absolute;
    top: 60%;
    left: 15px;
    transform: translateY(-65%);
}

@media (max-width: 768px) {
    .busqueda-input, .busqueda-input:focus {
        border-radius: 0;
        background-color: transparent;
        color: white;
        border-bottom: 2px solid gray;
    }

    .busqueda-btn {
        color: darkgrey;
        right: -80%;
    }
}