.tarjeta-article {
    padding: 10px;
    width: 280px;
    height: 431px;
    border: 2px solid #929191;
    border-radius: 12px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 5px;
}

.tarjeta-div-foto {
    overflow: hidden;
    border-radius: 4px;
}

.tarjeta-foto {
    aspect-ratio: 1/1;
    width: 100%;
    cursor: pointer;
}

.tarjeta-foto:hover {
    transform: scale(1.05);
    transition: 200ms;
}

.tarjeta-titulo {
    /* background-color:#bebebe; */
    color: white;
    border-bottom: 1.5px dotted #bebebe;
    /* border-radius: 4px; */
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.tarjeta-precio {
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tarjeta-selectTalle {
    border-radius: 4px;
    text-align: center;
    width: 60px;
    background-color: #bebebe;
}

.tarjeta-boton {
    font-weight: 500;
    height: 35px;
    background-color: #8EDCC0;
    border: 1.5px solid black;
    cursor: pointer;
}

.tarjeta-boton:hover {
    background-color: rgb(234, 234, 234);
    border-color: white;
    box-shadow: none;
    color: black;
}