.barraSuperior {
    height: 60px;
    box-shadow: 0 0 5px black;
}

@media (min-width: 576px) {

    .barraSuperior {
        background-color: black;
    }
}

.header-usuarioDiv {
    position: relative;
}

.botonCerrarSesion {
    position: absolute;
    top: 50px;
    width: 120px;
    display: none;
}

.botonCerrarSesion.visible {
    display: block;
}

.header-leyenda {
    font-size: 0.8rem;
}