header {
    position: relative;
    padding-bottom: 60px;
}

.barraSuperior {
    background-color: black;
    height: 60px;
    box-shadow: 0 0 5px black;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    max-width: 100%;
    z-index: 1050;
    border-bottom: 0.5px solid #404040;
}

@media (max-width: 576px) {
    .barraSuperior {
        height: 55px;
    }
}

.header-usuarioDiv {
    position: relative;
}

.botonCerrarSesion {
    position: absolute;
    top: 50px;
    width: 120px;
    display: none;
}

.botonCerrarSesion.visible {
    display: block;
}

.botonCerrarSesion .botonNoWrap {
    white-space: nowrap;
}

.header-leyenda {
    font-size: 0.8rem;
}

.header-logo {
    height: 50px;
}

@media (max-width: 576px) {
    .header-logo {
        height: 40px;
        padding-bottom: 5px;
    }
}