/* Línea divisoria en lista desplegable de pantallas chicas */
.division {
    color: rgb(192, 190, 190);
    margin: 8px 0;
}

/* Items primarios de la lista de navegación */
.navegacion-item {
    color: rgb(200, 200, 200);
    font-weight: bold;
    font-size: 1.2em;
}

.navegacion-item:hover {
    color: white;
}

.navegacion-item .btn,
.navegacion-item .links {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    padding: 10px;
}

/* Mostrar-ocultar menú desplegable en pantalla grande */
@keyframes mostrarMenuY {
    from {transform: scaleY(0)}
    to {transform: scaleY(1)}
}

@keyframes ocultarMenuY {
    from {transform: scaleY(1)}
    to {transform: scaleY(0)}
}

/* Mostrar-ocultar menú desplegable en pantalla chica */
@keyframes mostrarMenuX {
    from {transform: translateX(0)}
    to {transform: translateX(600px)}
}

@keyframes ocultarMenuX {
    from {transform: translateX(600px)}
    to {transform: translateX(0)}
}

/* Lista despegable (según pantalla) */
.listaDesplegable {
    background-color: black;
    border: 2px solid grey;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: absolute;
    top: 53px !important;
    left: -54px !important;
    z-index: 1000;
    transform-origin: top center;
    display: block;
}

.listaDesplegable.pChica {
    border-radius: 0;
    border-bottom-right-radius: 5px;
    top: 60px !important;
    left: -600px !important;
    transform-origin: left center;
    width: 50vw;
}

@media (max-width: 576px) {
    .listaDesplegable.pChica {
        top: 0 !important;
        padding-top: 0;
        width: 80vw; 
    }
}

/* Animaciones de entrada y salida de la lista desplegable */
.listaDesplegable:not(.show):not(.ocultando) {
    visibility: hidden;
}

.listaDesplegable.pGrande.show {
    animation: mostrarMenuY 300ms ease-in-out forwards;
}

.listaDesplegable.pChica.show {
    animation: mostrarMenuX 400ms ease-in-out forwards;
}

.listaDesplegable.pGrande.ocultando {
    animation: ocultarMenuY 200ms ease-in-out forwards;
}

.listaDesplegable.pChica.ocultando {
    animation: ocultarMenuX 300ms ease-in-out forwards;
}

/* Items secundarios (ítems de lista desplegable) */
.listaDesplegable-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listaDesplegable-item .links,
.listaDesplegable-item .btn{
    width: 100%;
    padding: 10px 80px;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listaDesplegable-item .links:hover,
.listaDesplegable-item .btn:hover {
    color: black;
    background-color: rgb(236, 234, 234);
}

/* Menú hamburguesa (botón) */
@keyframes giro {
    from {transform: rotate(0deg);}
    to {transform: rotate(180deg);}
}

@keyframes giroReverse {
    from {transform: rotate(0deg);}
    to {transform: rotate(-180deg);}
}

.abierto {
    animation: giro 400ms ease forwards;
}

.cerrado {
    animation: giroReverse 300ms ease forwards;
}

.menuBarras {
    color: white;
    height: 60px;
    width: 60px;
    font-size: 1.2em;
}

.menuBarras:hover {
    color: white;
    text-shadow: 1px 1px #FEC224;
}

@media (max-width: 576px) {
    .menuBarras {
        color: black;
    }

    .menuBarras:hover {
        color: white;
        text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .div-busqueda-chico {
        padding-top: 14px !important;
    }
}

/* Lista e ítems terciarios colapsables (vía "Item desplegable" en pantallas chicas) */
.listaColapsable {
    width: 100%;
    background-color: #8EDCC0;
    color: black;
}

.listaColapsable .links {
    color: inherit
}