.division {
    color: gray;
    margin: 8px 0;
}

.navegacion-item {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.navegacion-item:hover {
    color: #FEC224;
}

.navegacion-item .btn,
.navegacion-item .links {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    height: 55px;
    padding: 15px;
}

@keyframes mostrarMenuY {
    0% {transform: scaleY(0)}
    80% {transform: scaleY(0.8)}
    100% {transform: scaleY(1)}
}

@keyframes ocultarMenuY {
    0% {transform: scaleY(1)}
    20% {transform: scaleY(0.8)}
    100% {transform: scaleY(0)}
}

@keyframes mostrarMenuX {
    0% {transform: translateX(0)}
    80% {transform: translateX(480px)}
    100% {transform: translateX(600px)}
}

@keyframes ocultarMenuX {
    0% {transform: translateX(600px)}
    20% {transform: translateX(480px)}
    100% {transform: translateX(0)}
}

.listaDesplegable {
    background-color: black;
    border: 2px solid grey;
    position: absolute;
    top: 54px !important;
    left: -54px !important;
    z-index: 1000;
    transform-origin: top center;
    display: block;
}

.listaDesplegable.pChica {
    border-radius: 0;
    border-bottom-right-radius: 5px;
    left: -600px !important;
    transform-origin: left center;
    width: 50vw;
}

@media (max-width: 576px) {
    .listaDesplegable.pChica {
        width: 100vw;
        border-bottom-right-radius: 0;
    }
}

.listaDesplegable:not(.show):not(.ocultando) {
    visibility: hidden;
}

.listaDesplegable.show {
    visibility: visible;
    animation: mostrarMenuY 300ms ease-in-out forwards;
}

.listaDesplegable.pChica.show {
    animation: mostrarMenuX 400ms ease-in-out forwards;
}

.listaDesplegable.ocultando {
    visibility: visible;
    animation: ocultarMenuY 100ms ease-in-out forwards;
}

.listaDesplegable-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listaDesplegable-item .links,
.listaDesplegable-item .btn{
    width: 100%;
    padding: 10px 80px;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}

.listaDesplegable-item .links:hover,
.listaDesplegable-item .btn:hover {
    color: black;
    background-color: white;
}

.menuBarras {
    height: 55px;
    font-size: 1.2em;
}

@media (max-width: 576px) {
    .menuBarras {
        color: black !important;
    }
}

.listaColapsable {
    width: 100%;
    background-color: #8EDCC0;
    color: black;
}

.listaColapsable .links {
    color: inherit
}