
.navegacion-item {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.navegacion-item:hover {
    color: #FEC224;
}

.navegacion-item .btn,
.navegacion-item .links {
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    height: 55px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaDesplegable {
    background-color: black;
    border: 2px solid grey;
}

@keyframes growDown {
    0% {transform: scaleY(0)}
    80% {transform: scaleY(0.8)}
    100% {transform: scaleY(1)}
}

.listaDesplegable {
    position: absolute;
    top: 52px !important;
    left: -54px !important;
    z-index: 1000;
    display: none;
    transform-origin: top center;
}

.listaDesplegable.show {
    display: block;
    animation: growDown 300ms ease-in-out forwards;
}

.listaDesplegable-item .links,
.listaDesplegable-item .btn{
    padding: 10px 80px;
    color: white;
    font-size: 1.1em;
    font-weight: 500;
}

.listaDesplegable-item .links:hover,
.listaDesplegable-item .btn:hover {
    color: black;
    background-color: white;
}