.alta-div {
    background-color: #000000;
    max-width: 600px;
    border-radius: 12px;
}

.alta-input {
    height: 32px;
    border-radius: 4px !important;
    border: none !important;
}

.alta-article.stock, .alta-article.precio {
    display: grid;
    grid-template-columns: 65% 35%;
}

@media (max-width: 576px) {
    .alta-article.stock, .alta-article.precio {
        grid-template-columns: 55% 45%;
    }
}

@keyframes desplegar {
    from {transform: scaleY(0)}
    to {transform: scaleY(1)}
}

.alta-article.stockConTalles, .alta-article.descuento {
    transform-origin: top;
    animation: desplegar 300ms ease-in-out forwards;
    color: black;
    background-color: #c4dbd3;
    display: grid;
}

.alta-article.stockConTalles {
    grid-template-columns: 33.33% 33.33% 33.33% ;
    grid-template-rows: 50% 50%;
    justify-items: end;
    align-content: center;
}

@media (max-width: 576px) {
    .alta-article.stockConTalles {
        justify-items: center;
    }
}

.alta-input.talle, .alta-input.descuento {
    width: 60px;
    border: 1px solid black !important;
}

.alta-textoP {
    font-size: 0.8em;
    color: #8EDCC0;
}
