
.carritoVacio-div {
    text-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
    color: white;
    max-width: 700px;
}

.carritoVacio-fotoDiv {
    border-radius: 12px;
    overflow: hidden;
    width: 60%;
    aspect-ratio: 767/512;
    min-width: 280px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px;
}

.carritoVacio-link {
    color: white;
}

.carritoVacio-link:hover {
    text-shadow: 1px 1px #FEC224;
}

.carritoLleno-div {
    max-width: 650px;
    color: white;
}

.carrito-listaItem {
    background-color: #252525;
    border-bottom: 1px solid #bebebe;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 5px;
}

.carrito-listaItem:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carrito-listaItem:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: none;
}

.carrito-listaItem-foto {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.carrito-listaItem p {
    margin: 0;
}

.carrito-listaItem .titulo {
    font-size: 1.1rem;
}

.carrito-listaItem-cantidadBotones {
    border-radius: 10px;
    overflow: hidden;
    border: 1.2px solid #929191;
}

.carrito-listaItem-cantidadBotones button{
    height: 23px;
    width: 23px;
    border: none;
    box-shadow: none;
    background-color: #252525;
    color: white;
}

.carrito-listaItem-cantidadBotones button:disabled {
    color:#929191;

}

.carrito-listaItem-cantidadBotones p {
    width: 26px;
    color: black;
    background-color: white;
}

.carrito-listaItem-precioDiv {
    width: 125px;
}

.tachado {
    text-decoration-thickness: 2px !important;
}

.carrito-listaItem-botonEliminar,
.carrito-listaItem-botonEliminar:hover,
.carrito-listaItem-botonEliminar:active {
    border: none !important;
}

.carrito-listaItem-botonEliminar:hover {
    color: white !important;
}

.carrito-divTotal {
    background-color: #252525;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 5px;
    border-radius: 10px;
}

.carrito-divTotal .total {
    font-size: 1.2rem;
    font-weight: bold;
}

.botonMostrarIngresarCodigo {
    text-decoration: underline;
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    padding-top: 3px;
}

.inputIngresarCodigo {
    height: 32px;
    border-radius: 8px;
}

.inputIngresarCodigo:focus {
    border: none !important;
}

.botonIngresarCodigo {
    height: 33px;
    width: 80px;
    border-radius: 8px;
}

.letraVerde {
    color: #8EDCC0;
}

.descuentos {
    font-size: 0.8rem;
}

@media (max-width: 576px) {
    .botonMostrarIngresarCodigo {
        font-size: 14px;
    }
    .inputIngresarCodigo {
        width: 170px;
    }
}