.contacto-div {
    width: 90%;
    max-width: 700px;
    border-radius: 12px;
    overflow: hidden;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px;
}

@media (max-width: 768px) {
    .contacto-div {
        background-color: transparent;
        box-shadow: none;
    }
}

.contacto-foto {
    width: 100%;
}

.contacto-formDiv {
    background-color: black;
}

.contacto-input {
    height: 32px;
}

.contacto-textarea, .contacto-input {
    background-color: #474747 !important;
    border: none !important;
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}

.contacto-textarea {
    resize: none;
}

.contacto-label, .contacto-textarea::placeholder {
    color: #bebebe !important;
}

.contacto-textarea:focus,
.contacto-input:focus {
    background-color: white !important;
    color: black !important;
}

@media (max-width: 768px) {
    .contacto-formDiv {
        box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px;
    }
}