.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-div {
    width: 95%;
    max-width: 700px;
    min-width: 300px;
    border-radius: 12px;
    overflow: hidden;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px;
}

.login-fotoAside {
    aspect-ratio: 442/430;
}

.login-label {
    color: #bebebe !important;
}

.login-input {
    height: 32px;
    background-color: #474747 !important;
    border: none !important;
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}

.login-input:focus {
    background-color: white !important;
    color: black !important;
}

.inputPassword-div {
    position: relative;
}

.registrate-Link {
    color: white;
}

.registrate-Link:hover {
    text-shadow: 1px 1px #FEC224;
}