/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.links {
    text-decoration: none;
    display: block;
    text-align: center;
}

/* Background de las secciones */
.bg-productos {
    background: #F7C25A;
}

.bg-carrito {
    background: radial-gradient(at 10% 85%, #E5E636 0%, #A6C852 30%, #80C246 50%, #279D43 80%, #259142 100%);
}

.bg-contacto {
    background: linear-gradient(to bottom,#FA7A3E,#fa3e3e);
}

.bg-login {
    background: linear-gradient(to top, #794fa0, #0C0C68);
}

.bg-registro {
    background: linear-gradient(to top, #EF6B97, #F16474);
}

.bg-nosotros {
    background: linear-gradient(to bottom, #1899D2, #c1cfd4, #1899D2);
}

main {
    padding-top: 30px;
    min-height: calc(100vh - 60px - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
    main {
        padding-top: 10px;
    }
}

.layout-main {
    transition: background 300ms ease;
}

.pagina-titulo {
    text-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

@keyframes aparecer {
    0% {opacity: 0; transform: translateY(20px);}
    100% {opacity: 1; transform: translateY(0);}
}

.aparecer {
    animation: aparecer 0.8s ease-out;
}