.productosAdmin-section {
    max-width: 700px;
}
.productosAdmin-listaItem {
    background-color: black;
    border-bottom: 1px solid #bebebe;
}

.productosAdmin-listaItem:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.productosAdmin-listaItem:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 0;
}

.productosAdmin-listaItem-foto {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.productosAdmin-listaItem p {
    margin: 0;
}

.productosAdmin-listaItem h6 {
    font-size: 1rem;
}

.productosAdmin-listaItem-precioDiv {
    width: 125px;
}

.productosAdmin-listaItem-botonEditar, .productosAdmin-listaItem-botonEditar:hover, .productosAdmin-listaItem-botonEditar:active {
    border: none !important;
}

.productosAdmin-listaItem-botonEditar:hover {
    color: white !important;
}

.productosAdmin-vacioLink {
    color: white;
}

.productosAdmin-vacioLink:hover {
    text-shadow: 1px 1px #fdc539;
}