.registro-div {
    width: 95%;
    max-width: 700px;
    min-width: 300px;
    border-radius: 12px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 15px;
}

.registro-input {
    height: 32px;
    background-color: #474747 !important;
    border: none !important;
    color: white !important;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}

.registro-input:focus {
    background-color: white !important;
    color: black !important;
}

.registro-label, .registro-input::placeholder {
    color: #bebebe !important;
}

.inputPassword-div {
    position: relative;
}

.btnOcultarPassword {
    font-size: 1.2em;
    position: absolute;
    color: black;
    top: 29px;
    right: 3px;
}

.btnOcultarPassword:hover {
    color: #8EDCC0;
}