.usuarioArticle {
    background-color: #252525;
    box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 5px;
}

.usuarioArticle:nth-child(even) {
    background-color: #353535;
}

.usuarioArticle:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 15px;
}

.usuarioArticle:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.usuarioEmail {
    word-break: break-word;
    white-space: normal;
}

.usuario-celdaBotonDiv {
    position: relative;
}

.usuarios-filaBoton, .usuarios-filaBoton:hover, .usuarios-filaBoton:focus, .usuarios-filaBoton:active {
    border: none !important;
}

@keyframes mostrarMenuY {
    from {transform: scaleY(0)}
    to {transform: scaleY(1)}
}

.usuarios-ulDesplegable {
    transform-origin: top center;
    animation: mostrarMenuY 300ms ease-in-out forwards;
    position: absolute;
    top: -17px;
    right: -22px;
    border-radius: 10px;
    width: 140px;
    overflow: hidden;
    background-color: #8EDCC0;
    box-shadow: 0 0 10px black;
    z-index: 999;
}

.usuarios-desplegableLi {
    cursor: pointer;
    color: black !important;

}

.usuarios-desplegableLi:hover {
    background-color: rgb(234, 234, 234) !important;
    color: black !important;
}