/* Botón del header (con notificación) */
.btnLink-Link {
    color: black;
    font-size: 1.1em;
    position: relative;
}

.btnLink-Link:hover .btnLink-texto{
    color: white;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (min-width: 576px) {
    .btnLink-texto {
        color: white;
    }

    .btnLink-Link:hover .btnLink-texto {
        color: white;
        text-shadow: 1px 1px #FEC224;
    }
}

.btnLink-notificacion {
    color: white;
    background-color: #DD3B4A;
    text-align: center;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 2px;
}

.btnLink-Link:hover .btnLink-notificacion {
    text-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


/* Botón primario */
.botonPrimario-btn {
    background-color: #8EDCC0;
    color: black;
    border: 1.5px solid black;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
}

.botonPrimario-btn:hover, .botonPrimario-btn:focus {
    background-color: rgb(234, 234, 234) !important;
    color: black;
    box-shadow: 0px 0px 8px white;
}


/* Botón secundario */
.botonSecundario-btn {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
    background-color: black;
    color: #8EDCC0 !important;
    border-color: #8EDCC0 !important;
}

.botonSecundario-btn:hover, .botonSecundario-btn:focus {
    color: rgb(234, 234, 234) !important;
    border-color: white !important;
    background-color: black !important;
    box-shadow: 0px 0px 8px white;
}

/* Botón secundario para eliminar */
.botonSecundario-btn.eliminar {
    color: #DC3545 !important;
    border-color: #DC3545 !important;
    background-color: black !important;
}

.botonSecundario-btn.eliminar:hover,
.botonSecundario-btn.eliminar:focus {
    background-color: #DC3545 !important;
    color: white !important;
    border-color: white !important;
    box-shadow: none;
}


/* Mostrar/ocultar contraseña */
.botonPassword {
    font-size: 1.2em;
    position: absolute; /* Definir position relative para div padre*/
    color: black;
    top: 29px;
    right: 3px;
}

.botonPassword:hover {
    color: #8EDCC0;
}