.btnLink-Link {
    color: black;
    font-size: 1.1em;
    position: relative;
}

.btnLink-Link:hover {
    color: white;
}

@media (min-width: 576px) {
    .btnLink-Link {
        color: white;
    }

    .btnLink-Link:hover {
        color: #FEC224;
    }
}

.btnLink-notificacion {
    color: white;
    background-color: #DD3B4A;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 4px;
}