.btnLink-Link {
    color: black;
    font-size: 1.1em;
    position: relative;
}

.btnLink-Link:hover .btnLink-texto{
    color: white;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (min-width: 576px) {
    .btnLink-texto {
        color: white;
    }

    .btnLink-Link:hover .btnLink-texto {
        color: white;
        text-shadow: 1px 1px #FEC224;
    }
}

.btnLink-notificacion {
    color: white;
    background-color: #DD3B4A;
    text-align: center;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 2px;
}

.btnLink-Link:hover .btnLink-notificacion {
    text-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}